*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header{
  background: #000;
  color: #fff;
  padding: 25px 0px;
}

header h1{
  text-align: center;
  font-weight: 300;
}

main{
  width: 100%;
  max-width: 1000px;
  margin:auto;
  margin-top: 25px;
  padding: 5px;
  /* border:1px solid rgb(228, 82, 82); */
}

main form{
  width:100%;
  max-width:350px;
  margin:auto;
  border:2px solid rgb(160, 160, 160);
  border-radius:7px;
  padding:20px;
}

main form h2{
  text-align: center;
  padding: 5px 0px 15px 0px;
  color:rgb(160, 160, 160);
}

input{
  display:block;
}

main form label{
  font-weight: 700;
  color:rgb(141, 141, 141);
}

main form input[type="text"]{
  width: 100%;
  height:30px;
  padding-left: 5px;
  font-size: 17px;
  border:0px;
  border-bottom: 2px solid rgb(160, 160, 160);
  outline:none;
  margin-bottom: 15px;
  background:transparent;
  font-weight: 100;
  color: rgb(160, 160, 160);
}


main form input[type="submit"]{
  width:150px;
  height: 30px;
  margin:auto;
  margin-top: 35px;
  background:rgb(75, 75, 75);
  color:#fff;
}

main form input[type="submit"]:hover{
  background:rgb(131, 131, 131);
}


.title{
  background:black;
  color:#fff;
  padding:25px 0px;
  width: 100%;
  text-align: center;
}




